{
   "endpoint": "/graphql",
   "method": "POST",
   "backend": [
   {
     "url_pattern": "/graphql",
     "encoding": "json",
     "method": "POST",
     "host": ["http://graphql-svc:8000"]
   }
   ]
 }